/other
/target
/fuzz/target
/apps/windows/**/bin
/apps/windows/**/obj
/installer/out*/
/installer/test-install.log
/installer/*-test.log
/installer-test
/native-publish
/native-publish-test
/native-publish-*-test
/installer-*-test
/package
