<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Sensitivity" Language="1033" Version="$(var.Version)"
           Manufacturer="HasX" UpgradeCode="F2E8C6E4-6B9B-4D1D-9C7E-05E7F3B14F6A">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64"/>
    <MajorUpgrade DowngradeErrorMessage="A newer version of Sensitivity is already installed."/>
    <MediaTemplate EmbedCab="yes"/>
    <WixVariable Id="WixUILicenseRtf" Value="packaging/windows/LICENSE.rtf"/>
    <UIRef Id="WixUI_Minimal"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Sensitivity">
        </Directory>
      </Directory>
      <Directory Id="CommonProgramsFolder" Name="Programs"/>
    </Directory>
    <Feature Id="Complete" Title="Sensitivity" Level="1">
      <ComponentGroupRef Id="AppFiles"/>
    </Feature>
  </Product>
</Wix>
